@use "../../../../style/wincolors";
.start-menu {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: wincolors.$win-white;
  border: 2px solid wincolors.$win-bar-blue;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__nav {
    width: 100%;
    height: 10%;
    background: wincolors.$win-bar-gradient-blue;
    border-bottom: 2px solid rgb(190, 129, 14);
    display: flex;
    flex-direction: row;
    align-items: center;
    &__avatar {
      width: 40px;
      height: 40px;
      background-color: aliceblue;
      margin: 0 15px 0 15px;
      border: 1px solid wincolors.$win-white;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__container {
    width: 100%;
    height: 70%;
    display: flex;
    box-shadow: inset 0px 5px 5px -2px rgba(225, 182, 56, 1);
    &__btns {
      width: 50%;
      height: 100%;
      background-color: wincolors.$win-white;
    }
    &__contact {
      width: 50%;
      height: 100%;
      background-color: wincolors.$win-bar-lightblue;
    }
  }
  &__footer {
    width: 100%;
    height: 20%;
    background: wincolors.$win-bar-gradient-blue;
    box-shadow: inset 0px 14px 5px -9px rgb(17, 21, 71);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__btn-container {
      height: 45%;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &__btn {
        width: 50px;
        height: 50px;
        border: 1px solid wincolors.$win-white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        &--shutdown {
          background: wincolors.$win-bar-gradient-red;
          &:hover {
            background: wincolors.$win-bar-gradient-red-highlight;
          }
        }
        &--logoff {
          background: wincolors.$win-bar-gradient-yellow;
          &:hover {
            background: wincolors.$win-bar-gradient-yellow-highlight;
          }
        }
        &__img {
          width: 100%;
        }
        &__text {
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }
}
