.bar {
  display: flex;
  flex-direction: row;
  &__start {
    &__text {
      margin: 0;
    }
  }
  &__clock {
    text-align: center;
    &__text {
      display: inline;
      margin: 0;
    }
  }
}
