@use "../../../../style/cecolors";

.experience {
  &__text {
    &--one {
      margin-left: 40px;
      color: cecolors.$text-blue;
    }
    &--two {
      color: cecolors.$text-violet;
    }
    &--three {
      color: cecolors.$text-gray;
    }
    &--square-bracket {
      color: cecolors.$text-green;
      &--close {
        margin-left: 40px;
      }
    }
  }
}
