@use "../../../../style/cecolors";
.arr {
  display: inline;
  &__text {
    &--sq-bracket {
      color: cecolors.$symbol-orange;
    }
    &--comma {
      color: cecolors.$text-blue;
    }
  }
  &__icon {
    width: 32px;
    height: 32px;
  }
}
