@use "../../style/cecolors";

.main-function {
  &__text {
    &--one {
      color: cecolors.$text-blue;
    }
    &--two {
      color: cecolors.$text-green;
    }
    &--bracket {
      color: cecolors.$symbol-orange;
    }
    &--four {
      margin-left: 20px;
      color: cecolors.$text-blue;
    }
    &--parenthesis {
      color: cecolors.$symbol-blue;
      &--close {
        margin-left: 20px;
      }
    }
    &--comment {
      color: cecolors.$comment;
    }
  }
}
