@use "../../../../style/wincolors";
.file-link {
  width: 80px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  &:hover {
    background: wincolors.$win-icon-highlight-blue;
    border: 1px rgba(255, 255, 255, 0.568) dashed;
  }
  &__icon {
    width: 48px;
    height: 48px;
  }
  &__file-name {
    font-size: 16px;
  }
}
