@use "../../../../style/cecolors";

.object {
  &__bracket {
    margin-left: 60px;
    color: cecolors.$symbol-blue;
  }
  &__prop {
    &--name {
      margin-left: 80px;
      color: cecolors.$object-name;
    }
    &--id {
      color: cecolors.$symbol-purple;
    }
    &--date {
      color: cecolors.$text-gray;
    }
    &--title {
      color: cecolors.$text-yellow;
    }
    &--objective {
      color: cecolors.$text-yellow;
    }
  }
}
