$text-green: #17cf4b;
$text-blue: #4373ed;
$text-gray: #7c9396;
$text-yellow: #f4f138;
$text-violet: #643f96;
$comment: #5b6177;
$symbol-orange: #f4b438;
$symbol-blue: #5fecff;
$symbol-purple: #b535b0;
$number: #5b6177;
$number-highlight: #fdc661;
$bg-highlight: #34373f;
$object-name: #c07c6b;
$btn-highlight: #ca5656;
$nav-bg: #4d515c;
$nav-gray: #949aaa;
