$win-bar-blue: #2178e0;
$win-bar-lightblue: #4d9fe1;
$win-bar-green: #13920d;
$win-bar-gradient-blue: linear-gradient(180deg, rgba(172, 195, 242, 1) 0%, rgb(79, 115, 204) 6%, rgb(79, 115, 204) 6%, rgba(0, 51, 153, 1) 100%);
$win-bar-gradient-green: linear-gradient(180deg, rgba(174, 242, 172, 1) 0%, rgba(19, 146, 13, 1) 6%, rgba(19, 146, 13, 1) 89%, rgb(16, 54, 17) 100%);
$win-bar-gradient-green-highlight: linear-gradient(
  180deg,
  rgba(174, 242, 172, 1) 0%,
  rgb(54, 179, 47) 6%,
  rgb(54, 179, 47) 89%,
  rgb(16, 54, 17) 100%
);
$win-bar-gradient-lightblue: linear-gradient(
  180deg,
  rgba(144, 205, 255, 1) 0%,
  rgba(77, 159, 225, 1) 7%,
  rgba(77, 159, 225, 1) 89%,
  rgb(25, 59, 85) 100%
);
$win-bar-gradient-yellow: linear-gradient(180deg, rgb(255, 229, 144) 0%, rgb(225, 198, 77) 7%, rgb(225, 198, 77) 89%, rgb(85, 69, 25) 100%);
$win-bar-gradient-yellow-highlight: linear-gradient(
  180deg,
  rgb(255, 229, 144) 0%,
  rgb(243, 222, 128) 7%,
  rgb(243, 222, 128) 89%,
  rgb(126, 103, 41) 100%
);
$win-bar-gradient-red: linear-gradient(180deg, rgb(255, 144, 144) 0%, rgb(225, 77, 77) 7%, rgb(225, 77, 77) 89%, rgb(85, 25, 25) 100%);
$win-bar-gradient-red-highlight: linear-gradient(180deg, rgb(255, 144, 144) 0%, rgb(255, 118, 118) 7%, rgb(255, 118, 118) 89%, rgb(85, 25, 25) 100%);
$win-sticky-note-yellow: #ffcc66;
$win-sticky-note-blue: #729cdb;
$win-sticky-note-pink: #e2aade;
$win-sticky-note-red: #c97d7d;
$win-sticky-note-text: rgb(28, 28, 29);
$win-icon-highlight-blue: #3864dd6c;
$win-white: #e6ead8;
