@use "../../../../style/cecolors";

.line__highlight {
  display: flex;
  flex-direction: row;
  transition: background-color 0.1s ease-in-out;
}

.line__highlight.highlighted {
  background-color: cecolors.$bg-highlight;
}

.line__number {
  transition: color 0.1s ease-in-out;
}

.line__number.highlighted-number {
  color: cecolors.$number-highlight;
}
