@use "../../../../../style/wincolors";

.upper-bar {
  background-color: wincolors.$win-white;
  display: flex;
  border-bottom: 1px solid black;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      width: 25px;
      margin-right: 10px;

      &--next {
        margin: 0;
      }
    }
    p {
      color: wincolors.$win-sticky-note-text;
    }
    &:hover {
      background-color: wincolors.$win-white-highlight;
      border: 2px solid #555555;
    }
  }
}
